header {
    background-image: url(images/banner1.png);
    height: 800px;
    width: 1600px;
    background-repeat: no-repeat;
}

header>.header-title,
.header-description,
.header-btn {
    text-align: right;
    padding-right: 250px;
}

header>.header-title {
    font-size: 60px;
    padding-top: 150px;
    padding-left: 800px;
}

header>.header-description {
    font-size: 20px;
    padding-left: 950px;
    color: #444343;
}

header>.header-btn {
    border-radius: 5px;
}

main>.content {
    display: flex;
    padding-left: 300px;
}
.content>.content-description>.content-title {
    font-size: 40px;
}
.content>.content-description>.content-info {
    font-size: 20px;
}
.content>.content-description>.content-info,.content-list {
    color: #444343;
}
.content>.content-description {
    padding-top: 250px;
    padding-right: 500px;
}
.content-img {
    padding-right: 25px;
}
.my-plan>.plan-title {
    padding-top: 35px;
    padding-left: 850px;
}
.my-plan>.plan-description {
    display: flex;
    padding-left: 400px;
    padding-bottom: 35px;
}
.my-plan>.plan-description>.plans {
    padding-left: 90px;
    font-size: 20px;
    text-align: center;
}
.contact {
    background-image: url(images/gradient1.png);
    background-repeat: no-repeat;
    margin-left: 350px;
    height: 400px;
}
.contact>.contact-title {
    padding-left: 150px;
    padding-top: 70px;
    padding-right: 900px;
    font-size: 40px;
    color: white;
}
.contact>.contact-btn {
    padding-left: 150px;
    margin-top: 0;
    padding-top: 0;
}